In [78]:
import pandas as pd
import numpy as np
bank = pd.read_csv('~/Documents/Nishant/ML/bank_updated.csv')
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79.0,1,-1,0,unknown,no
1,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79.0,1,-1,0,unknown,no
2,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220.0,1,339,4,failure,no
3,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185.0,1,330,1,failure,no
4,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199.0,4,-1,0,unknown,no
5,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79.0,1,-1,0,unknown,no
6,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226.0,1,-1,0,unknown,no
7,35,management,single,tertiary,no,747,no,no,cellular,23,feb,141.0,2,176,3,failure,no
8,36,self-employed,married,tertiary,no,307,yes,no,cellular,14,may,341.0,1,330,2,other,no
9,39,technician,married,secondary,no,147,yes,no,cellular,6,may,151.0,2,-1,0,unknown,no
10,41,entrepreneur,married,tertiary,no,221,yes,no,unknown,14,may,57.0,2,-1,0,unknown,no
11,43,services,married,primary,no,-88,yes,yes,cellular,17,apr,313.0,1,147,2,failure,no
12,39,services,married,secondary,no,9374,yes,no,unknown,20,may,273.0,1,-1,0,unknown,no
13,43,admin.,married,secondary,no,264,yes,no,cellular,17,apr,113.0,2,-1,0,unknown,no
14,36,technician,married,tertiary,no,1109,no,no,cellular,13,aug,328.0,2,-1,0,unknown,no
15,20,student,single,secondary,no,502,no,no,cellular,30,apr,261.0,1,-1,0,unknown,yes
16,31,blue-collar,married,secondary,no,360,yes,yes,cellular,29,jan,89.0,1,241,1,failure,no
17,40,management,married,tertiary,no,194,no,yes,cellular,29,aug,189.0,2,-1,0,unknown,no
18,56,technician,married,secondary,no,4073,no,no,cellular,27,aug,239.0,5,-1,0,unknown,no
19,37,admin.,single,tertiary,no,2317,yes,no,cellular,20,apr,114.0,1,152,2,failure,no
20,25,blue-collar,single,primary,no,-221,yes,no,unknown,23,may,250.0,1,-1,0,unknown,no
21,31,services,married,secondary,no,132,no,no,cellular,7,jul,148.0,1,152,1,other,no
22,38,management,divorced,unknown,no,0,yes,no,cellular,18,nov,96.0,2,-1,0,unknown,no
23,42,management,divorced,tertiary,no,16,no,no,cellular,19,nov,140.0,3,-1,0,unknown,no
24,44,services,single,secondary,no,106,no,no,unknown,12,jun,109.0,2,-1,0,unknown,no
25,44,entrepreneur,married,secondary,no,93,no,no,cellular,7,jul,125.0,2,-1,0,unknown,no
26,26,housemaid,married,tertiary,no,543,no,no,cellular,30,jan,169.0,3,-1,0,unknown,no
27,41,management,married,tertiary,no,5883,no,no,cellular,20,nov,182.0,2,-1,0,unknown,no
28,55,blue-collar,married,primary,no,627,yes,no,unknown,5,may,247.0,1,-1,0,unknown,no
29,67,retired,married,unknown,no,696,no,no,telephone,17,aug,119.0,1,105,2,failure,no
30,56,self-employed,married,secondary,no,NaN,no,yes,cellular,30,jul,149.0,2,-1,0,unknown,no
31,53,admin.,married,secondary,no,105,no,yes,cellular,21,aug,74.0,2,-1,0,unknown,no
32,68,retired,divorced,secondary,no,4189,no,no,telephone,14,jul,897.0,2,-1,0,unknown,yes
33,44,services,single,secondary,no,106,no,no,unknown,12,jun,109.0,2,-1,0,unknown,no
34,31,technician,married,secondary,no,171,no,no,cellular,27,aug,81.0,3,-1,0,unknown,no
35,59,management,married,secondary,no,42,no,no,cellular,21,nov,40.0,1,-1,0,unknown,no
36,32,management,single,tertiary,no,2536,yes,no,cellular,26,aug,958.0,6,-1,0,unknown,yes
37,49,technician,married,tertiary,no,1235,no,no,cellular,13,aug,354.0,3,-1,0,unknown,yes
38,42,admin.,divorced,secondary,no,1811,yes,no,unknown,14,may,150.0,1,-1,0,unknown,no
39,78,retired,divorced,primary,no,229,no,no,telephone,22,oct,97.0,1,-1,0,unknown,yes
40,32,blue-collar,married,secondary,no,2089,yes,no,cellular,14,nov,132.0,1,-1,0,unknown,yes
41,33,management,married,secondary,no,NaN,yes,no,cellular,6,may,765.0,1,342,2,failure,yes
42,23,services,single,tertiary,no,363,yes,no,unknown,30,may,16.0,18,-1,0,unknown,no
43,38,management,single,tertiary,no,11971,yes,no,unknown,17,nov,609.0,2,101,3,failure,no
44,36,management,single,tertiary,no,553,no,no,cellular,11,aug,106.0,2,-1,0,unknown,no
45,52,blue-collar,married,secondary,no,1117,yes,no,cellular,13,may,365.0,1,-1,0,unknown,no
46,32,technician,married,tertiary,no,396,yes,no,cellular,13,may,205.0,3,-1,0,unknown,no
47,32,technician,single,tertiary,no,2204,yes,no,cellular,21,nov,11.0,4,-1,0,unknown,no
48,34,management,single,tertiary,no,872,yes,no,unknown,7,may,105.0,2,-1,0,unknown,no
49,55,blue-collar,married,primary,no,145,no,no,telephone,2,feb,59.0,3,5,2,other,no
50,26,blue-collar,married,primary,no,0,yes,no,unknown,21,may,425.0,1,-1,0,unknown,no
51,32,entrepreneur,single,primary,yes,-849,yes,yes,cellular,4,feb,204.0,1,-1,0,unknown,no
52,61,admin.,married,unknown,no,4629,yes,no,cellular,27,jan,181.0,1,92,1,success,yes
53,45,blue-collar,divorced,primary,no,844,no,no,unknown,5,jun,1018.0,3,-1,0,unknown,yes
54,37,technician,single,secondary,no,228,yes,no,cellular,20,aug,1740.0,2,-1,0,unknown,no
55,38,technician,single,secondary,no,50,no,no,cellular,29,aug,98.0,2,-1,0,unknown,no
56,34,technician,married,tertiary,no,1539,yes,no,cellular,15,jun,441.0,1,56,1,other,yes
57,53,blue-collar,married,secondary,no,2231,yes,no,cellular,14,jul,272.0,3,-1,0,unknown,no
58,48,admin.,married,secondary,no,3064,yes,no,telephone,15,jul,159.0,2,-1,0,unknown,no
59,44,services,single,secondary,no,106,no,no,unknown,12,jun,109.0,2,-1,0,unknown,no
60,57,management,married,secondary,no,82,no,yes,telephone,4,feb,140.0,1,-1,0,unknown,no
61,33,self-employed,single,tertiary,no,2155,no,no,cellular,17,nov,295.0,1,-1,0,unknown,no
62,36,retired,single,secondary,no,101,yes,yes,unknown,26,may,314.0,1,-1,0,unknown,no
63,54,technician,divorced,secondary,no,784,yes,yes,unknown,15,may,579.0,1,-1,0,unknown,no
64,41,blue-collar,married,primary,no,-516,no,yes,telephone,8,jul,554.0,3,-1,0,unknown,no
65,63,retired,married,secondary,no,415,yes,no,cellular,7,oct,323.0,1,-1,0,unknown,no
66,48,management,married,tertiary,no,5887,no,no,cellular,13,aug,227.0,2,-1,0,unknown,no
67,48,services,married,secondary,no,1355,no,no,cellular,4,jul,134.0,2,-1,0,unknown,no
68,56,admin.,married,secondary,no,16873,no,no,cellular,7,oct,223.0,1,-1,0,unknown,no
69,51,blue-collar,divorced,secondary,no,203,yes,no,cellular,8,may,134.0,1,170,5,failure,no
70,31,services,married,secondary,no,338,yes,no,cellular,28,jan,155.0,1,-1,0,unknown,no
71,29,technician,married,secondary,no,444,yes,no,cellular,21,jul,130.0,4,-1,0,unknown,no
72,41,management,married,secondary,no,0,no,yes,cellular,7,jul,630.0,3,-1,0,unknown,no
73,32,technician,single,tertiary,no,360,no,no,cellular,19,nov,164.0,2,-1,0,unknown,no
74,37,management,married,tertiary,no,0,no,no,cellular,16,jul,268.0,2,182,3,success,yes
75,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380.0,1,-1,0,unknown,no
76,31,management,single,tertiary,no,6248,yes,no,unknown,9,may,154.0,2,-1,0,unknown,no
77,41,services,married,tertiary,no,412,yes,no,unknown,3,jun,154.0,5,-1,0,unknown,no
78,56,retired,married,secondary,no,344,yes,no,unknown,15,may,221.0,1,-1,0,unknown,no
79,54,management,divorced,tertiary,no,3222,no,no,cellular,14,aug,67.0,2,-1,0,unknown,no
80,41,blue-collar,divorced,secondary,no,174,yes,no,cellular,14,may,367.0,2,297,1,other,no
81,40,technician,single,secondary,no,591,no,yes,cellular,14,aug,87.0,6,-1,0,unknown,no
82,50,blue-collar,divorced,primary,no,388,no,no,cellular,5,feb,701.0,1,-1,0,unknown,no
83,40,unemployed,married,secondary,no,219,yes,no,cellular,17,nov,204.0,2,196,1,failure,no
84,27,admin.,divorced,secondary,no,451,yes,no,cellular,16,jul,652.0,1,-1,0,unknown,yes
85,60,retired,married,primary,no,5,no,no,cellular,26,aug,63.0,2,-1,0,unknown,no
86,28,admin.,single,secondary,no,177,yes,yes,cellular,6,may,150.0,1,-1,0,unknown,no
87,52,services,married,secondary,no,657,no,no,telephone,7,jul,398.0,2,460,2,failure,yes
88,37,management,married,tertiary,no,1315,no,no,cellular,30,jun,224.0,1,-1,0,unknown,yes
89,51,blue-collar,married,primary,no,1466,yes,no,unknown,7,may,406.0,2,-1,0,unknown,no
90,41,technician,single,secondary,no,879,no,yes,cellular,7,jul,60.0,4,-1,0,unknown,no
91,35,blue-collar,single,primary,no,293,yes,no,unknown,30,may,521.0,2,-1,0,unknown,no
92,38,admin.,married,secondary,no,424,yes,no,cellular,17,apr,279.0,1,-1,0,unknown,no
93,34,blue-collar,married,secondary,no,1831,yes,no,unknown,20,may,203.0,2,-1,0,unknown,no
94,39,blue-collar,married,primary,no,111,no,no,cellular,18,nov,201.0,2,-1,0,unknown,no
95,34,blue-collar,married,primary,no,455,yes,no,unknown,20,jun,372.0,3,-1,0,unknown,no
96,27,services,single,secondary,no,-195,yes,no,cellular,18,may,391.0,1,-1,0,unknown,yes
97,32,management,single,tertiary,no,3616,no,no,cellular,14,aug,165.0,2,-1,0,unknown,no
98,57,blue-collar,married,secondary,no,14093,no,no,cellular,11,aug,231.0,5,-1,0,unknown,no
99,41,unknown,single,tertiary,no,1567,no,no,cellular,1,jul,291.0,2,-1,0,unknown,no
100,41,admin.,married,tertiary,no,5426,yes,no,unknown,14,may,149.0,2,-1,0,unknown,no
101,30,admin.,single,tertiary,no,261,no,no,cellular,19,oct,233.0,1,137,20,failure,no
102,36,blue-collar,divorced,secondary,no,2843,no,no,cellular,12,feb,473.0,1,182,1,success,no
103,31,unemployed,single,primary,no,406,no,no,cellular,4,feb,736.0,1,-1,0,unknown,yes
104,36,blue-collar,married,secondary,no,0,yes,no,unknown,6,may,337.0,1,-1,0,unknown,no
105,38,management,single,tertiary,no,493,yes,no,cellular,11,may,553.0,1,367,7,failure,no
106,49,technician,married,secondary,no,5996,no,no,telephone,21,nov,345.0,2,-1,0,unknown,no
107,57,services,single,primary,no,3777,yes,no,telephone,13,may,65.0,2,-1,0,unknown,no
108,34,management,single,secondary,no,524,no,no,unknown,13,aug,9.0,1,-1,0,unknown,no
109,32,management,single,tertiary,no,574,yes,no,cellular,14,apr,259.0,2,145,3,failure,no
110,37,blue-collar,married,secondary,no,427,yes,yes,unknown,9,jun,371.0,3,-1,0,unknown,no
111,33,self-employed,married,tertiary,no,483,yes,no,cellular,3,feb,280.0,2,-1,0,unknown,no
112,56,unemployed,married,primary,no,3391,no,no,cellular,21,apr,243.0,1,-1,0,unknown,yes
113,27,housemaid,married,primary,no,0,yes,no,cellular,23,jul,435.0,3,-1,0,unknown,no
114,21,student,single,secondary,no,2488,no,no,cellular,30,jun,258.0,6,169,3,success,yes
115,58,management,married,tertiary,no,1517,yes,no,telephone,29,jul,7.0,5,-1,0,unknown,no
116,32,self-employed,married,secondary,no,217,yes,yes,cellular,15,jul,317.0,5,-1,0,unknown,no
117,33,blue-collar,single,secondary,no,22,no,no,cellular,30,jan,76.0,2,207,1,failure,no
118,25,student,single,secondary,no,331,no,no,telephone,26,aug,170.0,4,-1,0,unknown,yes
119,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386.0,2,-1,0,unknown,yes
120,30,services,married,secondary,no,1808,yes,no,cellular,18,may,83.0,2,-1,0,unknown,no
121,22,admin.,single,secondary,no,4111,no,yes,cellular,19,aug,65.0,1,-1,0,unknown,no
122,39,blue-collar,married,primary,no,52,no,no,cellular,13,aug,69.0,1,-1,0,unknown,no
123,46,management,divorced,tertiary,no,NaN,no,no,unknown,17,jun,564.0,2,-1,0,unknown,no
124,31,admin.,divorced,secondary,no,1890,yes,no,cellular,21,jul,588.0,1,-1,0,unknown,no
125,45,blue-collar,married,primary,no,419,no,no,cellular,18,aug,113.0,4,-1,0,unknown,no
126,32,technician,married,secondary,no,2693,yes,no,unknown,21,may,16.0,1,-1,0,unknown,no
127,36,blue-collar,married,secondary,no,-231,no,yes,cellular,15,jul,779.0,2,-1,0,unknown,no
128,51,management,single,tertiary,yes,-55,yes,no,cellular,11,may,281.0,2,266,6,failure,no
129,34,self-employed,single,tertiary,no,462,no,no,cellular,21,aug,1877.0,3,-1,0,unknown,yes
130,24,unemployed,single,secondary,no,119,no,no,unknown,15,sep,51.0,1,-1,0,unknown,no
131,45,technician,single,secondary,no,586,no,yes,cellular,28,jul,32.0,3,-1,0,unknown,no
132,32,blue-collar,single,secondary,no,228,no,no,telephone,5,feb,176.0,1,288,3,failure,no
133,77,retired,divorced,tertiary,no,4659,no,no,cellular,14,apr,161.0,1,-1,0,unknown,yes
134,41,blue-collar,married,primary,no,168,yes,no,cellular,18,nov,187.0,3,-1,0,unknown,no
135,37,blue-collar,married,primary,no,0,yes,no,unknown,26,may,24.0,1,-1,0,unknown,no
136,43,blue-collar,married,unknown,yes,-715,yes,no,unknown,30,may,67.0,3,-1,0,unknown,no
137,48,admin.,married,unknown,no,0,yes,no,cellular,8,may,85.0,1,168,2,failure,no
138,27,technician,single,secondary,no,769,yes,no,unknown,9,may,317.0,2,-1,0,unknown,no
139,33,management,single,tertiary,no,0,no,no,cellular,28,aug,236.0,10,-1,0,unknown,no
140,29,admin.,single,secondary,no,428,yes,yes,cellular,7,may,54.0,1,345,2,failure,no
141,34,management,single,tertiary,no,0,no,no,cellular,5,feb,71.0,1,-1,0,unknown,no
142,52,management,married,tertiary,no,-970,yes,no,cellular,4,feb,489.0,1,-1,0,unknown,yes
143,60,management,married,unknown,no,6313,no,no,unknown,19,jun,39.0,2,-1,0,unknown,no
144,32,management,divorced,tertiary,no,948,no,no,cellular,12,aug,204.0,2,-1,0,unknown,no
145,32,management,single,tertiary,no,0,yes,no,cellular,22,jul,455.0,2,-1,0,unknown,no
146,56,services,divorced,unknown,no,1877,yes,no,unknown,30,may,86.0,1,-1,0,unknown,no
147,31,management,single,tertiary,no,874,yes,no,cellular,18,nov,190.0,2,-1,0,unknown,no
148,42,admin.,married,secondary,no,323,yes,yes,unknown,8,may,280.0,2,-1,0,unknown,no
149,35,management,married,tertiary,no,106,no,yes,cellular,11,aug,588.0,2,-1,0,unknown,no
150,56,retired,married,primary,no,1906,no,yes,unknown,19,jun,45.0,9,-1,0,unknown,no
151,48,technician,married,secondary,no,1152,yes,no,cellular,21,jul,168.0,5,-1,0,unknown,no
152,46,admin.,married,secondary,no,179,yes,no,cellular,29,jan,194.0,4,436,1,other,no
153,37,technician,single,unknown,no,391,yes,no,unknown,8,may,103.0,3,-1,0,unknown,no
154,41,entrepreneur,married,unknown,no,89,yes,no,unknown,6,may,333.0,2,-1,0,unknown,no
155,36,management,single,tertiary,no,442,yes,yes,cellular,29,jul,102.0,3,-1,0,unknown,no
156,45,unemployed,divorced,primary,yes,-249,yes,yes,unknown,1,jul,92.0,1,-1,0,unknown,no
157,55,entrepreneur,married,secondary,no,8104,no,no,cellular,6,feb,213.0,2,-1,0,unknown,no
158,39,technician,married,secondary,no,501,no,no,unknown,26,may,289.0,1,-1,0,unknown,no
159,35,technician,divorced,secondary,no,308,no,no,cellular,22,aug,77.0,2,-1,0,unknown,no
160,55,admin.,married,secondary,no,602,no,no,cellular,1,jun,324.0,3,90,2,success,yes
161,55,technician,married,secondary,no,273,yes,no,cellular,29,jan,84.0,3,183,3,failure,no
162,27,self-employed,single,secondary,no,50,no,no,cellular,29,jan,168.0,1,-1,0,unknown,no
163,34,technician,married,secondary,no,1641,yes,no,cellular,17,apr,380.0,1,-1,0,unknown,no
164,34,blue-collar,married,tertiary,no,20,no,no,unknown,4,oct,10.0,1,-1,0,unknown,no
165,25,admin.,single,secondary,no,4590,yes,no,unknown,28,may,199.0,2,-1,0,unknown,no
166,41,admin.,single,secondary,no,-256,no,yes,unknown,9,may,35.0,3,-1,0,unknown,no
167,43,services,married,secondary,no,978,yes,yes,unknown,26,may,82.0,2,-1,0,unknown,no
168,28,management,single,tertiary,no,80,no,no,cellular,20,oct,676.0,2,146,2,failure,yes
169,31,admin.,single,secondary,no,2104,yes,no,unknown,3,jun,455.0,1,-1,0,unknown,no
170,78,housemaid,married,secondary,no,499,no,no,telephone,16,mar,NaN,4,-1,0,unknown,no
171,45,blue-collar,divorced,secondary,no,1269,yes,no,cellular,29,jan,549.0,2,-1,0,unknown,no
172,48,technician,married,tertiary,no,310,no,no,unknown,6,may,135.0,1,-1,0,unknown,no
173,32,blue-collar,single,secondary,no,1143,yes,yes,cellular,10,jul,412.0,1,-1,0,unknown,no
174,42,technician,married,secondary,no,2980,no,no,unknown,20,jun,101.0,3,-1,0,unknown,no
175,37,management,single,tertiary,no,37,no,no,cellular,28,jan,253.0,2,-1,0,unknown,no
176,40,admin.,single,secondary,no,462,yes,yes,cellular,6,apr,272.0,1,335,4,other,no
177,32,admin.,married,secondary,no,1031,yes,no,cellular,17,jul,84.0,1,-1,0,unknown,no
178,42,management,married,tertiary,no,9009,no,no,cellular,20,nov,135.0,2,-1,0,unknown,no
179,43,admin.,married,secondary,no,-465,yes,yes,cellular,23,jul,166.0,1,-1,0,unknown,no
180,44,admin.,married,secondary,no,5181,yes,yes,cellular,31,jul,18.0,7,-1,0,unknown,no
181,37,admin.,married,secondary,no,176,yes,no,cellular,5,may,147.0,2,347,1,failure,no
182,37,unknown,married,unknown,no,1699,no,no,unknown,9,jun,63.0,1,-1,0,unknown,no
183,37,admin.,married,tertiary,no,0,yes,no,cellular,17,nov,65.0,2,119,1,failure,no
184,28,technician,single,tertiary,no,172,yes,yes,cellular,2,feb,194.0,2,-1,0,unknown,no
185,32,services,single,secondary,no,0,no,yes,cellular,11,jul,333.0,2,-1,0,unknown,no
186,34,admin.,single,secondary,no,6979,yes,no,cellular,15,may,14.0,5,-1,0,unknown,no
187,40,admin.,divorced,secondary,no,6,no,no,unknown,11,jun,140.0,1,-1,0,unknown,no
188,34,services,married,secondary,no,-62,yes,no,unknown,16,jun,109.0,3,-1,0,unknown,no
189,34,self-employed,married,tertiary,no,1972,yes,no,cellular,23,jul,61.0,2,-1,0,unknown,no
190,34,admin.,married,tertiary,no,899,yes,no,telephone,19,nov,377.0,3,7,4,success,no
191,37,services,single,secondary,no,21,yes,no,cellular,2,feb,96.0,1,271,2,other,no
192,36,technician,married,secondary,no,23,yes,no,cellular,8,may,152.0,2,347,1,failure,no
193,56,retired,married,secondary,no,-1206,yes,no,cellular,15,jun,382.0,2,-1,0,unknown,yes
194,49,blue-collar,married,primary,no,0,yes,yes,telephone,23,jul,97.0,6,-1,0,unknown,no
195,33,self-employed,married,secondary,no,215,yes,no,cellular,29,jul,543.0,12,-1,0,unknown,no
196,30,management,single,tertiary,no,1372,no,no,cellular,20,nov,240.0,2,-1,0,unknown,no
197,36,services,married,secondary,no,1981,no,no,unknown,17,jun,48.0,2,-1,0,unknown,no
198,23,student,single,secondary,no,9216,no,no,cellular,5,jun,471.0,2,-1,0,unknown,no
199,57,retired,divorced,secondary,no,39,yes,no,cellular,30,jul,354.0,3,-1,0,unknown,no
200,27,blue-collar,single,secondary,no,5563,yes,no,unknown,30,may,435.0,2,-1,0,unknown,no
201,38,services,married,secondary,no,1,no,yes,cellular,21,nov,152.0,2,-1,0,unknown,no
202,42,technician,married,tertiary,no,782,no,no,cellular,3,apr,285.0,1,-1,0,unknown,no
203,75,retired,married,secondary,no,3771,no,no,telephone,15,apr,185.0,1,181,2,success,yes
204,34,technician,single,tertiary,no,992,yes,no,cellular,4,may,301.0,1,88,2,success,no
205,48,technician,married,secondary,no,1526,no,no,cellular,6,aug,NaN,2,-1,0,unknown,no
206,35,technician,single,tertiary,no,2658,yes,no,cellular,19,aug,768.0,2,141,3,failure,yes
207,39,management,divorced,tertiary,no,1315,yes,no,cellular,19,nov,1337.0,4,126,1,failure,no
208,29,blue-collar,single,tertiary,no,455,no,no,telephone,21,apr,403.0,1,-1,0,unknown,yes
209,45,technician,single,tertiary,no,0,yes,no,cellular,18,nov,139.0,2,-1,0,unknown,no
210,42,technician,married,secondary,no,2030,yes,yes,cellular,9,jul,196.0,1,-1,0,unknown,no
211,29,technician,married,secondary,no,1599,yes,no,cellular,8,jul,115.0,1,61,1,failure,no
212,38,services,single,secondary,no,-196,yes,no,cellular,2,feb,60.0,1,271,1,failure,no
213,56,retired,married,secondary,no,1333,no,no,cellular,28,aug,17.0,14,-1,0,unknown,no
214,36,technician,single,secondary,no,9149,yes,no,cellular,13,aug,141.0,3,-1,0,unknown,no
215,25,blue-collar,single,secondary,no,-350,yes,no,unknown,23,jun,95.0,3,-1,0,unknown,no
216,38,technician,married,tertiary,no,432,yes,no,cellular,15,may,10.0,2,373,1,other,no
217,57,self-employed,married,secondary,no,11494,no,no,cellular,19,nov,198.0,1,-1,0,unknown,no
218,31,management,married,tertiary,yes,-253,no,no,cellular,12,aug,220.0,4,-1,0,unknown,no
219,42,management,married,tertiary,no,372,yes,no,cellular,3,aug,654.0,2,-1,0,unknown,yes
220,45,technician,married,secondary,no,1410,no,no,cellular,11,aug,71.0,2,-1,0,unknown,no
221,30,blue-collar,married,secondary,no,975,yes,no,cellular,13,may,256.0,2,351,2,failure,no
222,49,blue-collar,married,primary,no,305,yes,yes,telephone,10,jul,834.0,10,-1,0,unknown,no
223,49,services,married,secondary,no,400,no,no,cellular,21,aug,151.0,3,-1,0,unknown,no
224,53,retired,married,tertiary,no,-22,yes,no,cellular,31,jul,20.0,3,-1,0,unknown,no
225,37,technician,married,secondary,no,4030,yes,no,unknown,26,may,178.0,5,-1,0,unknown,no
226,49,blue-collar,married,primary,no,365,no,no,unknown,26,may,59.0,2,-1,0,unknown,no

In [82]:
bank[bank.balance==]='1'

In [83]:
bank = bank.astype({'balance':float})

In [86]:
bank.mean()

balance    1419.078449
dtype: float64